<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Administrativos</title>
  <link rel="icon" type="image/jog" href="img/AGC.png">
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <script src="js/administratives.js"></script>
</head>
<body>
  <h1>Esto es el Portal de Gestion de Administrativos</h1>
  <div>
    <table id="administrative-table">
      <thead>
        <tr>
          <th>DNI</th>
          <th>Nombre</th>
          <th>Apellidos</th>
          <th>Email</th>
          <th>Teléfono</th>
          <th>Sexo</th>
          <th>Fecha de Nacimiento</th>
          <th>Dirección</th>
          <th></th>
        </tr>
      </thead>
      <tbody></tbody>
    </table>
  </div>  

  <div>
    <ul>
      <li>
        <a href="/home">Home</a>
      </li>
    </ul>
  </div>
</body>
</html>