<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin</title>
  <link rel="icon" type="image/jog" href="img/AGC.png">
  <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
  <h1>ADMIN</h1>
  <div>
    <ul>
      <li>
        <a aria-current="page" href="/home">Home</a>
      </li>
      <li>
        <a aria-current="page" href="/registerUserAutorized">Crear usuario autorizado</a>
      </li>
    </ul>
  </div>
</body>
</html>