<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Change Password</title>
  <link rel="icon" type="image/jog" href="img/AGC.png">
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <script src="js/changePassword.js" defer></script>
</head>
<body class="initial-body-container">
  <header class="initial-header-container">
    <div class="MenuDiv">
      <a id="logo" href="/">
        <picture>
          <img alt="Logo Autocares Gómez Carmona" width="190" height="50" src="img/logoAGC.webp">
        </picture>
      </a>
      <nav>
        <ul class="Menu">
          <li>
            <a aria-current="page" href="/logout">Cerrar Sesión</a>
          </li>
        </ul>
      </nav>
    </div>
  </header>
  
  <main class="initial-main-container">
    <div class="form-container">
      <h1>Cambio de Contraseña</h1>
      <form id="changePassword-form">
          <label for="password">Nueva Contraseña:</label>
          <input type="password" id="password" name="password" placeholder="Contraseña" required>
          <br>
          <label for="confirmedPassword">Confirmar Contraseña:</label>
          <input type="password" id="confirmedPassword" name="confirmedPassword" placeholder="Confirmar contraseña" required>
          <br>
          <label for="tipoUsuario" class="escondido">Tipo de Usuario:</label>
          <select id="tipoUsuario" name="tipoUsuario" class="escondido" required>
            <option value="normal">Normal</option>
          </select>
          <br>
          <button type="submit">Cambiar Contraseña</button>
          <p class="error escondido">Error al actualizar la contraseña</p>
      </form>
  </div>
  </main>
  
  <footer class="initial-footer-container">
    <picture>
      <img alt="Emoji Autobus Chiquito" width="60" height="60" src="img/buschiquito.png">
    </picture>
  </footer>

</body>
</html>