<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Clientes</title>
  <link rel="stylesheet" href="style.css">
  <script src="clients.js"></script>
</head>
<body>
  <h1>Esto es el Portal de Gestion de Clientes</h1>
  <div>
    <table id="client-table">
      <thead>
        <tr>
        <th>Nombre Empresa</th>
        <th>DNI</th>
        <th>Nombre</th>
        <th>Apellidos</th>
        <th>Email</th>
        <th>Teléfono</th>
      </tr>
    </thead>
    <tbody></tbody>
    </table>
  </div>  

  <div>
    <ul>
      <li>
        <a aria-current="page" href="/home">Home</a>
      </li>
    </ul>
  </div>
</body>
</html>