<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cliente</title>
  <link rel="icon" type="image/jog" href="/img/AGC.png">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <script src="/js/client.js"></script>
</head>
<body class="container">
  <header>
    <div class="imagen-texto">
      <a id="logo" href="/">
        <picture>
          <img alt="Logo Autocares Gómez Carmona" width="190" height="50" src="/img/logoAGC.webp">
        </picture>
      </a>
      <h1>Portal de Gestion de Datos del Cliente</h1>
    </div>
  </header>

  <aside>
    <div>
      <nav>
        <ul class="Menu-Aside">
          <li><a aria-current="page" href="/home">Home</a></li>
          <li><a aria-current="page" href="/users">Usuarios</a></li>
          <li><a aria-current="page" href="/contracts">Contratos</a></li>
          <li><a aria-current="page" href="/employees">Empleados</a></li>
          <li><a aria-current="page" href="/administratives">Administrativos</a></li>
          <li><a aria-current="page" href="/drivers">Conductores</a></li>
          <li><a aria-current="page" href="/bus">Autobuses</a></li>
          <li><a aria-current="page" href="/services">Servicios</a></li>
          <li><a aria-current="page" href="/clients">Clientes</a></li>
          <li class="aside-personalizado-admin"></li>
          <li class="aside-personalizado-perfil"></li>
          <li><a aria-current="page" href="/logout"><img src='/img/logout.svg' class="img-menu">Cerrar Sesión</a></li>
        </ul>
      </nav>
    </div>
  </aside>

  <main>
    <div>
      <table id="client-table">
        <thead>
          <tr>
            <th>Nombre Empresa</th>
            <th>DNI</th>
            <th>Nombre</th>
            <th>Apellidos</th>
            <th>Email</th>
            <th>Teléfono</th>
            <th></th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
    </div> 
    
    <div class="updateFormContainer"></div> 
  </main>

  <footer>
    <picture>
      <img alt="Emoji Autobus Chiquito" width="60" height="60" src="/img/buschiquito.png">
    </picture>
  </footer>

  <script src="js/aside-personalizado.js"></script>
</body>
</html>