<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Contratos</title>
  <link rel="icon" type="image/jog" href="img/AGC.png">
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <script src="js/contracts.js"></script>
</head>
<body>
  <h1>Esto es el Portal de Gestion de Contratos</h1>
  <div>
    <table id="contract-table">
      <thead>
        <tr>
        <th>Fecha Inicio</th>
        <th>Fecha Fin</th>
        <th>Sueldo por Hora</th>
        <th>Horas a la Semana</th>
        <th></th>
      </tr>
    </thead>
    <tbody></tbody>
    </table>
  </div>  

  <div>
    <ul>
      <li>
        <a href="/home">Home</a>
      </li>
    </ul>
  </div>
</body>
</html>