<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Crear Conductor</title>
  <link rel="icon" type="image/jog" href="/img/AGC.png">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <script src="/js/createDriver.js"></script>
</head>
<body class="container">
  <header>
    <div class="imagen-texto">
      <a id="logo" href="/">
        <picture>
          <img alt="Logo Autocares Gómez Carmona" width="190" height="50" src="/img/logoAGC.webp">
        </picture>
      </a>
      <h1>Crear Conductor</h1>
    </div>
  </header>

  <aside>
    <div>
      <nav>
        <ul class="Menu-Aside">
          <li><a aria-current="page" href="/home">Home</a></li>
          <li><a aria-current="page" href="/contracts">Contratos</a></li>
          <li><a aria-current="page" href="/employees">Empleados</a></li>
          <li><a aria-current="page" href="/bus">Autobuses</a></li>
          <li><a aria-current="page" href="/services">Servicios</a></li>
          <li><a aria-current="page" href="/clients">Clientes</a></li>
          <li class="aside-personalizado-usuarios"></li>
          <li class="aside-personalizado-admin"></li>
          <li class="aside-personalizado-perfil"></li>
          <li><a aria-current="page" href="/logout"><img src='/img/logout.svg' class="img-menu">Cerrar Sesión</a></li>
        </ul>
      </nav>
    </div>
  </aside>

  <main>
    <div class="createContainer">
      <form id="createDriver-form">
        <table>
          <thead>
            <tr>
              <th><label for="dni">DNI</label></th>
              <th><label for="nombre">Nombre</label></th>
              <th><label for="apellidos">Apellidos</label></th>
              <th><label for="email">Email</label></th>
              <th><label for="telefono">Teléfono</label></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <input type="text" id="dni" name="dni" placeholder="12345678A" required>
              </td>
              <td>
                <input type="text" id="nombre" name="nombre" placeholder="Carla" required>
              </td>
              <td>
                <input type="text" id="apellidos" name="apellidos" placeholder="Fernandez" required>
              </td>
              <td>
                <input type="email" id="email" name="email" placeholder="carla@gmail.com" required>
              </td>
              <td>
                <input type="text" id="telefono" name="telefono" placeholder="611111111" required>
              </td>
            </tr>
          </tbody>
        </table>
        <table>
          <thead>
            <tr>
              <th><label for="sexo">Sexo</label></th>
              <th><label for="fechaNacimiento">Fecha de Nacimiento</label></th>
              <th><label for="direccion">Dirección</label></th>
              <th><label for="contractId">Contrato</label></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <select id="sexo" name="sexo" required>
                  <option value="masculino">Masculino</option>
                  <option value="femenino">Femenino</option>
                  <option value="otros">Otro</option>
                </select>
              </td>
              <td>
                <input type="date" id="fechaNacimiento" name="fechaNacimiento" placeholder="Lucas" required>
              </td>
              <td>
                <input type="text" id="direccion" name="direccion" placeholder="C/Amatista 9, 3" required>
              </td>
              <td>
                <input type="text" id="contractId" name="contractId">
              </td>
            </tr>
          </tbody>
        </table>
        <table>
          <thead>
            <tr>
              <th><label for="permisoConducir">Permiso de Conducir</label></th>
              <th><label for="tarjetaCAP">Tarjeta CAP</label></th>
              <th><label for="tarjetaTacografo">Tarjeta Tacógrafo</label></th>
              <th><label for="certificadoAntecedentes">Certificado Antecedentes</label></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <select id="permisoConducir" name="permisoConducir" required>
                  <option value="B">Tipo B</option>
                  <option value="C1">Tipo C1</option>
                  <option value="C">Tipo C</option>
                  <option value="D1">Tipo D1</option>
                  <option value="D">Tipo D</option>
                  <option value="BE">Tipo BE</option>
                  <option value="C1E">Tipo C1E</option>
                  <option value="D1E">Tipo D1E</option>
                  <option value="DE">Tipo DE</option>
                </select>
              </td>
              <td>
                <select id="tarjetaCAP" name="tarjetaCAP" required>
                  <option value="Si">Si</option>
                  <option value="No">No</option>
                </select>
              </td>
              <td>
                <select id="tarjetaTacografo" name="tarjetaTacografo" required>
                  <option value="Si">Si</option>
                  <option value="No">No</option>
                </select>
              </td>
              <td>
                <select id="certificadoAntecedentes" name="certificadoAntecedentes" required>
                  <option value="Si">Si</option>
                  <option value="No">No</option>
                </select>
              </td>
              <td>
                <button type="submit">Añadir</button> <br>
                <button type="button" class="rojo" id="cancelarCreate">Cancelar</button>
              </td>
            </tr>
          </tbody>
        </table>
      </form>
    </div>  
  </main>

  <footer>
    <picture>
      <img alt="Emoji Autobus Chiquito" width="60" height="60" src="/img/buschiquito.png">
    </picture>
  </footer>
  
  <script src="/js/aside-personalizado.js"></script>
</body>
</html>