<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link rel="icon" type="image/jog" href="img/AGC.png">
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <!-- <script src="logout.js" defer></script> -->
</head>
<body>
  <h1>HOME</h1>
  <div>
    <ul>
      <li>
        <a aria-current="page" href="/users">Usuarios</a>
      </li>
      <li>
        <a aria-current="page" href="/contracts">Contratos</a>
      </li>
      <li>
        <a aria-current="page" href="/administratives">Administrativos</a>
      </li>
      <li>
        <a aria-current="page" href="/drivers">Conductores</a>
      </li>
      <li>
        <a aria-current="page" href="/bus">Autobuses</a>
      </li>
      <li>
        <a aria-current="page" href="/services">Servicios</a>
      </li>
      <li>
        <a aria-current="page" href="/clients">Clientes</a>
      </li>
      <li>
        <a aria-current="page" href="/admin">Admin</a>
      </li>
      <li>
        <a aria-current="page" href="/logout">Cerrar Sesión</a>
      </li>
    </ul>
  </div>
  <!-- <button id="logout-button">Cerrar sesión</button> -->
</body>
</html>