<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Servicio</title>
  <link rel="icon" type="image/jog" href="/img/AGC.png">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <script src="/js/service.js"></script>
</head>
<body>
  <h1>Esto es el Portal de Gestion de Servicios</h1>
  <div>
    <table id="service-table">
      <thead>
        <tr>
          <th>Tipo de Servicio</th>
          <th>Descripción</th>
          <th>Fecha de Servicio</th>
          <th>Fecha de Creación</th>
          <th>Cliente</th>
          <th></th>
        </tr>
      </thead>
      <tbody></tbody>
    </table>
  </div>  

  <div>
    <ul>
      <li>
        <a href="/home">Home</a>
      </li>
      <li>
        <a href="/services">Servicios</a>
      </li>
    </ul>
  </div>
</body>
</html>