<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Usuario</title>
  <link rel="icon" type="image/jog" href="/img/AGC.png">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <script src="/js/user.js"></script>
</head>
<body>
  <h1>Portal de Gestion de Datos del Usuario</h1>
  <div>
    <table id="user-table">
      <thead>
        <tr>
          <th>Nombre de Usuario</th>
          <th>Email</th>
          <th>Contraseña</th>
          <th>Tipo de Usuario</th>
          <th></th>
        </tr>
      </thead>
      <tbody></tbody>
    </table>
  </div>  

  <div>
    <ul>
      <li>
        <a href="/home">Home</a>
      </li>
      <li>
        <a href="/users">Usuarios</a>
      </li>
    </ul>
  </div>
</body>
</html>