<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>404 Page not found</title>
  <link rel="icon" type="image/jog" href="/img/AGC.png">
  <link rel="stylesheet" type="text/css" href="/css/404.css">
</head>
<body class="rails-default-error-page">
  <section>
    <figure>
      <img src='/img/404-meteorito.svg' width="848" height="400">
    </figure>

    <header>
      <h1>404</h1>
      <h2>Querido usuario que navega en nuestra web! Parece que te has equivocado de destino!</h2>
      <a href='/' class='btn-solid' >Llévame de vuelta</a>
    </header>
  </section>
</body>
</html>
